.manage-account {
    &__container {
        // width: calc(100vw - 250px);
        &__content {
            // width: calc(100vw - 250px);
            background: #fff;
            padding: 10px;
            padding-top: 30px;
            min-height: 800px;
            display: flex;
            flex-direction: column;
        }
    }
}
