@import "../../styles/variables.scss";
@import "../../styles/scrollbar.scss";

.main-layout {
    min-height: 100vh;
    overflow-x: hidden;

    &-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0;
        height: $layout-header-height; // Match with header-wrapper height
        background: transparent;
        box-shadow: none; // Remove shadow as header-wrapper has it

        @media (max-width: $mobile-breakpoint) {
            height: $header-mobile-height;
        }
    }

    &-content {
        max-width: $max-width;
        width: 100%; // Make it fluid
        padding: 15px;
        margin: 0 auto;
        margin-top: $layout-header-height; /* Add space for fixed header */
        min-height: calc(100vh - $layout-header-height);
        scrollbar-gutter: stable both-edges;

        @media (max-width: $mobile-breakpoint) {
            margin-top: $header-mobile-height;
            min-height: calc(100vh - $header-mobile-height);
            padding: 10px;
        }
    }
}

body {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.ant-modal-wrap,
.ant-modal-mask {
    padding-right: 0 !important;
}
