@import "../../styles/variables.scss";

.main-layout {
    min-height: 100vh;

    &-content {
        max-width: $max-width;
        min-width: $min-width;
        margin: 0 auto;
        min-height: calc(100vh - $layout-header-height);
    }
}
