:root {
  font-family: Arial, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif;

  body {
    margin: 0;
    box-sizing: border-box;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
